/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .header-search {
        padding: 15px 0px;
    }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
    .logo {
        text-align: center;
    }
    .cart-content-right {
        padding-bottom: 5px;
    }
    .mg {
        margin: 0px 0px;
    }
    .menu-area-main {
        height: 256px;
        overflow-y: auto;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        height: 19px;
    }
    .category-box.women-box {
        display: none;
    }
    .cart-box {
        display: inline-block;
        margin: 0px 30px;
    }
    .wish-box {
        float: none;
        margin: 0px 30px;
        display: inline-block;
    }
    .menu-add {
        display: none;
    }
    .category-box {
        display: none;
    }
    .mean-container .mean-nav ul li ol {
        padding: 0px;
    }
    .mean-container .mean-nav ul li a {
        padding: 10px 20px;
        width: 94.8%;
    }
    .mean-container .mean-nav ul li li a {
        width: 92%;
        padding: 1em 4%;
    }
    .mean-container .mean-nav ul li li li a {
        width: 100%;
    }
    .header-search {
        padding: 15px 0px;
    }
    #collapseFilter.d-md-block {
        padding: 30px 0px;
    }
}


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {
    .cart-content-right {
        padding-bottom: 5px;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a {
        padding: 1em 4%;
        width: 92%;
    }
    .mean-container .mean-nav ul li li a {
        width: 90%;
        padding: 1em 5%;
    }
    .mean-container .sub-full.megamenu-categories ol li a {
        padding: 5px 0px;
        text-transform: capitalize;
        width: 100%;
    }
    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }
    .menu-area-main {
        height: 45px;
        overflow-y: auto;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        top: 0;
    }

.call_text { font-size: 32px; }
.booking_text { font-size: 17px;}
.toggle_menu { top: -58px; position: relative; left: 220px; }
.request_text { font-size: 20px; }
.send_bt { width: 100%; font-size: 16px; margin-right: 13px; }
.banner_section { background-size: cover; padding-bottom: 40px; }
.ride_text { font-size: 30px; }
.image_3 { margin-top: 20px; }
.ride_section_2 { padding-top: 40px;} 
.images_2 { width: 90%; margin: 0 auto; text-align: center; float: initial; }
.book_bt a { width: 100%; }

.send_bt a:hover { color: #fefefe; padding: 0px; background-color: transparent; } 
.book_bt a:hover { color: #000; padding: 0px; background: transparent;}
.book_bt_2 a:hover { color: #000;  background: transparent; padding: 0px; }
.send_bt a { width: 45%; }



}

@media (min-width: 992px) and (max-width: 1199px) {
    
    .titlepage h2::after {width: 58%;}
    .about-box .titlepage h2::after {
        width: 52%;
right: -221px;
    }
    .Nursery-img .text-box h3 {padding: 111px 50px;}
    .contact .titlepage h2::after {
    left: -650px;
width: 30%;
   }

#main_slider a.carousel-control-next { left: 15px; }
#main_slider a.carousel-control-prev { left: 15px; top: 36%; }

.menu_text li { padding-left: 27px; padding-right: 30px; }
.book_now { width: 100%;}
.booking_text { font-size: 24px; }
.send_bt { margin-right: 27px; }
.images_2 { width: 90%; margin: 0 auto; text-align: center; float: initial; } 
.ride_main { width: 55%; }
.download_text { font-size: 40px; }
.location_sectin { padding-bottom: 10px; margin-top: 90px; }
.book_bt_2 a { width: 25%; }
.book_bt a { width: 25%; }
.toggle_menu { top: -10px; }
.send_bt a { width: 35%; }
.round_1 { width: 25%; }





}

@media (min-width: 768px) and (max-width: 991px) {
    .main-menu ul > li a {padding: 7px 6px ; }
    .main-menu ul>li a { font-size: 14px;}


    .banner-main .carousel-caption h1 {

        font-size: 36px;
        padding-top: 0px;
    }
    .banner-main .carousel-caption p {

        margin-bottom: 7px;
        display: none;
    }
    .main { width: 15%;}
    .info_icon { min-width: 10%;}
    #main_slider a.carousel-control-prev {
    display: none;
    }
    .btn_main { margin-top: 58px; width: 65%;}
    #main_slider a.carousel-control-next {
    display: none;
    }
    .sporrt_text { margin-top: 0px; font-size: 24px;}
    .email_btn { padding: 41px;}
    .btn-primary {max-width: 144px; }
    .titlepage h2::after {width: 79%;}
    .about-box .titlepage h2::after {width: 73%;
       right: -88px;
    }
    .contact .titlepage h2::after {
        left: -403px;
        width: 41%;
    }
    .paddimg-right {
        padding-right: 15px;
    }
    .paddimg-left {
         padding-left: 15px;
    }

.menu_text li{ display: none;  }
.logo { text-align: left; padding-bottom: 0px;}
.toggle_menu { top: -16px; position: relative; left: 315px; }
.menu_text { height: 0px;}
#my_Controls a.carousel-control-prev { display: none; }
#my_Controls a.carousel-control-next { display: none; }
.header_section { padding-top: 15px; padding-bottom: 15px;}
.book_now { width: 100%; }
.booking_text { font-size: 18px; }
.request_text { font-size: 24px; }
.send_bt { width: 100%; margin-right: 23px; }
.send_bt a { width: 50%; }
.image_1 { width: 100%; }
.round_1 { width: 35%; }
.images_2 { width: 90%; margin: 0 auto; text-align: center; float: initial; } 
.ride_main { width: 80%; }
.book_bt { width: 100%; margin-top: 0px; }
.book_bt a { width: 35%; }
.book_bt_2 { width: 100%; margin-top: 0px; }
.book_bt_2 a { width: 35%; }
.download_text { font-size: 30px; }
.location_sectin { padding-bottom: 19px; margin-top: 90px;}
.image_7 { width: 85%; }



}

@media (min-width: 576px) and (max-width: 767px) {
    .last {display: none;}
    .banner-main .carousel-caption {top: 0%;}
.titlepage h2 {
font-size: 42px;
display: block; 
}
#main_slider a.carousel-control-prev {
    position: absolute;
    left: 25%;
    top: 64%;
    display: none;
}
.btn_main { margin-top: 58px; width: 80%;}
#main_slider a.carousel-control-next {
    position: absolute;
    left: 50px;
    top: 64%;
    display: none;
}
.btn-primary {
    margin-top: 0px;
    margin-left: -7px;
}
.menu_main {
    width: 95%;}

.banner-main .carousel-caption h1 {
    font-size: 50px;
}
.titlepage h2::after {
width: 88%;
}

.about-box .titlepage h2::after {width: 45%;
right: -281px;}
.sporrt_text { margin-top: 0px;}
.Nursery-img .text-box h3 {
font-size: 36px;
padding: 126px 40px;
}
.main {
    width: 20%;}

.contact .titlepage h2::after {
    left: -234px;
    width: 55%;
}

.menu_text li{ display: none;  }
.logo { text-align: left; padding-bottom: 0px;}
.toggle_menu { top: -16px; position: relative; left: 220px; }
.menu_text { height: 0px;}
#my_Controls a.carousel-control-prev { display: none; }
#my_Controls a.carousel-control-next { display: none; }
.header_section { padding-top: 15px; padding-bottom: 15px;}
.book_now { width: 100%;}
.round_1 { width: 20%; }
.ride_main { width: 100%; }
.book_bt { width: 35%; font-size: 16px; }
.book_bt_2 { width: 35%; font-size: 16px; margin-top: 0px; }
.location_sectin { background-size: cover; padding-bottom: 40px; margin-top: 90px; padding-top: 30px;}
.download_text { font-size: 26px; padding-left: 0px; color: #000; }
.image_7 { width: 100%;  float: right; text-align: right; } 
.image_1 { width: 100%; }
.booking_text {  font-size: 26px;}
.request_text { font-size: 30px;} 
.send_bt { width: 35%; font-size: 16px; margin-right: 30px; float: right; }
.round_1 { width: 48%; }
.reader_text { font-size: 14px; }
.images_2 { width: 90%; margin: 0 auto; text-align: center; float: initial; } 
.ride_text { font-size: 50px; } 
.long_text { font-size: 12px; margin-top: 0px; }
.book_bt { margin-top: 0px; }
.long_text_2 { margin-top: 0px; }
.send_bt a { width: 80%; margin-right: 0px; }
.book_bt_2 a { width: 100%; }



}


@media (max-width: 575px) {
    .last { display: none; }
    .carousel-caption {display: none;} 
.header { padding-top: 0px; }
.logo { float: inherit; padding-bottom: 15px; text-align: center;}
.btn-primary {max-width: 126px;
margin-right: 2px;
font-size: 14px;}
.banner-main .carousel-caption h1 {font-size: 30px; line-height: 38px;}
.titlepage h2 {
    font-size: 27px;
}
.sporrt_text{ 
     font-size: 23px; 
     margin-top: 0px;
}
.main {
    width: 30%;
}
.btn_main {
    margin-top: 30px;
    padding-bottom: 30px;
    width: 55%;}

#main_slider a.carousel-control-prev {
    position: absolute;
    left: 175px;
    top: 90%;
    display: none;
}

#main_slider a.carousel-control-next {
    position: absolute;
    left: 236px;
    top: 90%;
    display: none;
}

.titlepage h2::after {
    width: 93%;
}
    .about-box .titlepage h2::after {
        width: 238px;
        right: -50px;
    }
 .Gallery .titlepage h2 {
    font-size: 47px;
 }
    .Gallery .titlepage h2::after {
        width: 89%;
    }

    .paddimg-right {
    padding-right: 15px;
}
.paddimg-left {
    padding-left: 15px;
}
.Nursery-img .text-box h3 {
font-size: 23px;
padding: 30px 14px;

}

.contact .titlepage h2::after {

    left: -8px;
    width: 281px;
}
.footer .headinga span {
font-size: 16px;

}
.menu-bottom {
    margin-bottom: 45px;
}
ul.link li {

    padding: 8px 12px;
    padding-bottom: 0px; 
}

.menu_text li{ display: none;  }
.logo { width: 60%; text-align: left; padding-bottom: 0px;}
.toggle_menu { top: -31px; position: relative; left: 0px; float: right;}
.menu_text { height: 0px;}
#my_Controls a.carousel-control-prev { display: none; }
#my_Controls a.carousel-control-next { display: none; }
.header_section { padding-top: 15px; padding-bottom: 15px;}
.book_now { width: 100%;}
.round_1 { width: 73px; height: 70px; }
.ride_main { width: 100%; }
.book_bt { width: 50%; font-size: 16px; }
.book_bt_2 { width: 50%; font-size: 16px; }
.book_bt_2 a { width: 100%;}
.location_sectin { background-size: cover; padding-bottom: 40px; margin-top: 90px; padding-top: 30px;}
.download_text { font-size: 30px; line-height: 45px; color: #fecf3d; }
.image_7 { width: 100%;  float: right; text-align: right; } 
.send_bt a:hover { color: #fefefe; padding: 0px; background-color: transparent; } 
.book_bt a:hover { color: #000; padding: 0px; background: transparent;}
.book_bt_2 a:hover { color: #000;  background: transparent; padding: 0px; }


}